@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gothampro_black;
  src: url(fonts/gothampro_black.ttf);
  font-family: gothampro_medium;
  src: url(fonts/gothampro_medium.ttf);
  font-family: gothampro_light;
  src: url(fonts/gothampro_light.ttf);
  font-family: gothampro_hard;
  src: url(fonts/gothampro_bold.ttf);
}

*{
  font-family: gothampro_black;
}

.got-bold{
  font-family: gothampro_medium;
}

.got-light{
  font-family: gothampro_light;
}

.got-hard{
  font-family: gothampro_hard;
}

.header-h{
  background: #ffffff;
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.slider-container {
  width: 700px;
  overflow: hidden;
  position: relative;
}
  
.slider {
  display: flex;
  transition: all 0.5s ease;
  padding-top: 30px;
}
  
.slide {
  flex: 0 0 200px; /* Начальная ширина слайда */
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
  
.slide.active {
  flex: 0 0 300px; /* Увеличенная ширина активного слайда */
  height: 200px;
}
  
.slide img {
  width: 100%;
}
  
.text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: black;
}